*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(12,12,12);
    scrollbar-width: none;
    
}
   
    #container{
       width: 100vw;
       height: 16vh;
       display: flex;
       margin-top: 1px;
       align-items: center;
       justify-items: center;
       color: white;
       font-family: sans-serif;
       border-bottom: 1px solid rgb(244, 231, 231);
       position:fixed;
       justify-content: space-around;
       flex-direction: row;
    
    }


    #container_box{
       display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        align-items: center;
        margin-top: 5px;
    } 


     #container_div{
        display: flex;
        color: white;
        transition-duration: 1s;
        transition-property: all;
        gap: 20px;
        flex-direction: row;
        font-size: 15px;
        justify-content: center;
        align-items: center;
        height: 100px;
        
    
    } 
    


    .fas:hover{
    color: #d3ad7f;
}
    #container_box :hover{
        color: goldenrod;
        text-underline-position: below;
        height: 25px;
        text-decoration: underline;
    }



    #container_div :hover{
        color: darkgoldenrod;
        height: 25px;
        width: 100%;
        /* animation: move_classes_underline 1s cubic-bezier(0.23,1,0.320,1); */

    }
     
/* 
    @keyframes move_classes_ {
    from{
        text-underline-offset: 0px;
    }
    to{
        text-underline-offset: 8px;
    }
} */


    .classes{
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    }
    
       .home{
    width: 100%;
    height: 84vh;
    background-image: url(home-img.jpeg);
    background-size: cover;
    background-position: center;
    background-color: none;
    padding-top: 3.5rem;
    padding-left: 5rem;
    
}
.home h2{
     color: white;
    justify-content: left;
    margin-top: 60px;
    font-weight: bolder;
    font-size: 65px;
    
    margin-left: 10px;
    background-color:rgba(9, 9, 9, 0.156);
}
.home p{
    color: rgb(161, 159, 159);
 
    font-size: 30px;
    
    background-color: rgb(9,9,9,0.156);

}

button{
    color: white;
    margin-top: 10px;
    border: solid 2px goldenrod;
    padding: 10px;
    background-color: goldenrod;
   
    
}

button :hover{
    transform-origin: 80px;
    letter-spacing: 1px;

}

.container_book {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap:5px ;
    background-color: rgb(9,9,9,0.156);
}



.about{
    color: rgb(253, 210, 102);
    font-weight: bolder;
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 20%;
    background-color: rgba(13, 13, 13, 0.156);
    
    
}



.us{
    color: white;
    margin-top: 20%;
    font-weight: bolder;
    text-align: center;
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container_2{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
    .left{
        width: 50%;
        height: 70vh;
        background-image: url(https://naman547.github.io/coffee-website/images/about-img.jpeg);
        background-size: cover;
        background-position: center;
    }
    .right  {
         width: 50%;
      
      height: 70vh;
      color: white;
      display: flex;
      flex-direction: column; /* Row-wise arrangement */
      justify-content: center; /* Center vertically */
      align-items: flex-start; /* Start from left */
      padding-left: 60px;
      gap: 15px; /* space between h3 and p */
      font-family: Arial, sans-serif;
    }
   
 
   .right h3 {
      font-size: 32px;
      font-weight: bold;
      color: #f7f6f2;
      background-color: none;
    }

    .right p {
      font-size: 18px;
      color: #ddd;
      line-height: 1.6;
      max-width: 500px;
      background-color: none;
    }



    .box4{
        display: flex;
        color: rgb(246, 244, 239);
        gap: 5px;
        align-items: center;
        justify-content: center;
        /* font: size 100px;
        font-weight: bolder;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    }


    .our{
        color: white;
        
        font-weight: bolder;
        text-align: center;
        font-size: 32px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
   

    .menu{
        color: goldenrod;
        font-weight: bolder;
        font-size: 32px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .big_box{
      
        height: 100%;
        width: 100%;
        display: flex;
        gap: 20px;
        margin-top: 15px;
        padding: 10px;
        flex-wrap: wrap  ;
        margin-left: 50px;
        margin-right: 50px;
        background-color: black;
    
          
         
    }
    .big_box :hover{
        color:white(250, 250, 250);
        background-color: #ddd;
    }
    
    .class1{
        border: 0.5px solid rgb(243, 235, 235);
        height: 350px;
        width: 400px;
        text-align: center;
        align-items: center;
        justify-content: center;
       
       
    }
    .class1 img{
        background-size: cover;
        height: 150px;
        background-color: #fbf8f8;
        border-radius: 50%;
        
        
    }
    
    .class1 p{
        color: rgb(250, 246, 246);
        background-color:none;
        background-color: transparent;
    }


   .class1 p button{
        width: 100px;
        height: 40px;
        color: goldenrod;
        border: 0.5px solid white;
      
    }
    .class1 p button{
        color: rgb(248, 245, 245);
        background-color: goldenrod;

    }


    .class1 p :hover{
        background-color: #fbfbfb;
        color: black;
        /* background-color: transparent; */
    }
   
    

    .class2{
        justify-content: center;
     
        text-align: center;
        border: 0.5px solid rgb(248, 245, 245);
        height: 350px;
        width: 400px;
        
    }
    .class2 img{
        height: 150px;
        border-radius: 50%;
    } 
    .class2 p{
        color: rgb(250, 246, 246);
        background-color:none;
        background-color: transparent;
    }


    .class3{
         border: 0.5px solid rgb(254, 251, 251);
        height: 350px;
        width: 400px;
        text-align: center;
        justify-content: center;
    }


    .class3 img{
        height: 150px;
        border-radius: 50%;
    }


    .class3 p{
        color: rgb(250, 246, 246);
        background-color:none;
        background-color: transparent;}

    .class4{
         border: 0.5px solid rgb(253, 253, 253);
        height: 350px;
        width: 400px;
        text-align: center;
        justify-content: center;
    }
     

    .class4 img{
        height: 150px;
        border-radius: 50%;
    }

    .class4 p{
        color: rgb(250, 246, 246);
        background-color:none;
        background-color: transparent;
    }

    .class_5{
         border: 0.5px solid rgb(239, 233, 233);
        height: 350px;
        width: 400px;
        text-align: center;
        justify-content: center;
    }

    .class_5 img{
        height: 150px;
        border-radius: 50%;
    }

    .class_5 p{
        color: rgb(250, 246, 246);
        background-color:none;
        background-color: transparent;}

    .class_6{
         border: 0.5px solid rgb(242, 240, 240);
        height: 350px;
        width: 400px;
        text-align: center;
        justify-content: center;
    }

    .class_6 img{
        height: 150px;
        border-radius: 50%;
    }
    .class_6 p{
        color: rgb(250, 246, 246);
        background-color:none;
        background-color: transparent;
    }


    /* PRODUCT SECTION */

.product_container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 40px;
    background-color: black;
}

.product_card {
    width: 300px;
    height: 400px;
    border: 1px solid #fff;
    text-align: center;
    padding: 20px;
    transition: 0.4s;
}

.product_card img {
    height: 180px;
    border-radius: 10px;
}

.product_card h3 {
    color: white;
    margin-top: 15px;
    font-size: 20px;
}

.product_card p {
    color: #d3ad7f;
    margin: 10px 0;
    font-size: 18px;
}

.product_card button {
    padding: 10px 20px;
    background-color: goldenrod;
    border: none;
    color: white;
    cursor: pointer;
}

.product_card:hover {
    background-color: #222;
    transform: translateY(-10px);
}



    .container_menu{
        margin-top: 13%;
        color: white;
        justify-content: center;
        display: flex;
        gap: 10px;
        text-align: center;
    }


    .contact-section {
    background: #111;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.contact-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.contact-box {
    max-width: 500px;
    margin: auto;
    background: #1c1c1c;
    padding: 30px;
    border-radius: 10px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 0;
    border-bottom: 1px solid #333;
    font-size: 16px;
}

.contact-item:last-child {
    border-bottom: none;
}

.contact-item i {
    color: #d3ad7f;
    font-size: 18px;
    width: 25px;
}
/* CART POPUP */

.cart-modal{
    position: fixed;
    right: 0;
    top: 80px;
    width: 300px;
    height: 80vh;
    background: #1c1c1c;
    padding: 20px;
    border-left: 2px solid goldenrod;
    display: none;
    overflow-y: auto;
    z-index: 999;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-item button{
    background: red;
    border: none;
    padding: 5px 8px;
    color: white;
    cursor: pointer;
}
